@font-face {
    font-family: "raleway";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "raleway";
    font-style: italic;
    font-weight: 800;
    src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "rubik";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "rubik";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "rubik";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "rubik";
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "rubik";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "rubik";
    font-style: italic;
    font-weight: 800;
    src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    color: #444444;
    background-color: #FFFFFF;
}

.main-container {
    flex-grow: 1;
}

.page-header {
    color: #000000;
    background-color: white;

}

.header-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 1160px;
    
    padding: 50px 60px;
    padding-bottom: 22px;
    margin: auto;
    margin-top: 40px;
    background-color: #FFE17F;
    box-sizing: border-box;
}

.navigation-logo {
    position: absolute; 
    top: -18px;
    margin: 0;
}
.navigation-list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 1040px;
    margin: 0;
    list-style-type: none;
}


.user-container {
    margin-bottom: 30px;

}

.non-user-container {
    margin: 0;
}

.navigation-link {
    margin-right: 47px;
}

.navigation-field {
    width: 519px;
}

.enter {
    margin-right: auto;
    margin-left: 26px;
}

.catalog {
    margin-right: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.main-container {
    display: flex;
    flex-direction: column; 
    width: 100%;
}

.product-examples{
    display: flex;
    width: 1160px;
    margin: 0 auto;
    flex-direction: column;
    margin-bottom: 70px;
}

.product-examples-numeration-container {
    background-color: #FFE17F;
    height: 114px;
    margin-top: -9px;
    display: flex;
}

.product-examples-numeration{
    margin: auto;
    margin-right: 49px;
    margin-top: auto;
    margin-bottom: -14px;
    line-height: 135px;
    font-weight: bold;
    font-size: 180px;
    color: #FFFFFF;
}
.product-examples-container{
    display: flex;
}
.product-description {
    font-size: 36px;
    color: #000000;
}

.product-definition {
    font-size: 16px;
}

.product-examples-image {
    display: flex;
    width: 560px;
    height: 560px;
    margin: 0;
    margin-right: 40px;
    margin-top: -150px;
}
.product-examples-content {
    display: flex;
    flex-direction: column;
    width: 560px;
    margin: 0;
    margin-top: -29px;
}
.slider-title {
    margin: 0;
    margin-bottom: 29px;
}
.slider-information {
    margin: 0;
    margin-bottom: 51px;
}

.product-examples-pagination {
    display: flex;
    height: 40px;
    margin-bottom: 49px;
}
.product-details {
    border-collapse: separate;
    width: 307px;
    margin: 0;
}

.slider-details{
    display: flex;
}
.slider-details-text {
    display: block;  
    margin: auto;
}
.slider-pagination {
    display: flex;
    margin-left: auto;
    list-style-type: none;
}
.slider-pagination-button {
    display: block;
    margin: auto;
    margin-right: 20px;
}

.suggestions {
    margin: 0 auto;
    margin-bottom: 172px;
    width: 1160px;
    height: 253px;
}
.suggestions-list {
    margin: 0;
    display: flex;
    list-style-type: none;
    padding: 0;
}
.suggestions-image {
    background-color: #FFE17F;
}
.suggestions-item {
    width: 160px;
    margin-right: 40px;
}
.suggestions-item {
    background-color: #FFE17F;
    width: 160px;
    height: 160px;
}
.suggestion-name {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    letter-spacing: -0.02em;
}
.suggestions-image {
    transform: scale(0.7);
}
.additional-information {
    background-color: #F0F0F0;
    height: 289px;
    margin-bottom: 70px
}

.additional-information-container {
    display: flex;
    width: 1160px;
    height: 319px;
    margin: auto;
    margin-top: -102px;

}

.additional-information-list {
    display: flex;
    flex-direction: column;
    width: 287px;
    margin: 0;
    margin-top: 64px;
    margin-right: auto;
    list-style-type: none;
}

.additional-information-item {
    margin-bottom: 45px;
}
.additional-information-titles-container {
    display: flex;
    flex-direction: column;
}

.additional-information-button {
    letter-spacing: 0.2em;
}
.additional-information-button-current {
    margin-top: 64px;
}

.additional-information-image {
    margin: auto;
    margin-right: 63px;
}

.additional-information-content-container {
    display: flex;
    flex-direction: column; 
    height: 174px;
    margin: auto;
    margin-right: 106px;
}
.additional-information-title {
    margin-bottom: 16px;
    margin-top: 0;
}

.additional-information-footer {
    display: flex;
    width: 1160px;
    height: 100px;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 70px;
}


.additional-information-footer-image-container {
    background-color:#FFE17F;
}
.additional-information-footer-image {
    transform: scale(0.4)
}

.additional-information-footer-text-container {
    display: flex;
    width: 1035px;
    height: 100px;
    background-color: #F0F0F0;
    padding-right: 125px;
    box-sizing: border-box;
}

.about-us-container {
    display: flex;
    width: 1160px;
    height: 545px;
    margin: 0 auto;
    margin-bottom: 70px;
}

.about-us {
    width: 520px;
    margin-right: 108px;
}



.newsletter-container {
    margin: 0 auto;
    height: 421px;
    padding: 0 140px;
    background-color: #F0F0F0;
}

.newsletter {
    width: 1160px;
    margin: 0 auto;
}

.newsletter-title {
    margin: 0;
}

.page-footer {
    background-color: #444444;
    margin: 0;
    padding: 0;
}

.page-footer-container {
    padding: 0 140px;
    display: flex;
    background-color: #444444;
    margin: 0 auto;
    height: 321px;
}
.title {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
}

.navigation-link {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
}

.navigation-user {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    line-height: 30px;
    text-transform: none;
}



.newsletter-button {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    line-height: 21px;
    color: #000000;
    text-transform: uppercase;
}
.additional-information-footer-text {
    margin: auto;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    letter-spacing: 0.2em;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
}



.about-us-company {
    font-weight: bold;
    line-height: 20px;
    color: #000000;
    text-decoration: none;
}

.about-us-title {
    margin: 0;
    margin-top: 40px;
    margin-bottom: 48px;
}
.about-us-information {
    margin: 0;
    margin-bottom: 30px;
}

.about-us-list {
    padding-left: 37px;
    list-style-type: none;
}
.about-us-item {
    margin-bottom: 19px;
}
.about-us-item:last-child {
    margin-bottom: 30px;
}
.contacts-subtitle {
    font-weight: bold;
    font-size: 24px;
}

.about-us-footer-link {
    line-height: 21px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}

.contacts-adress-phone {
    color: #444444;
}

.contacts-footer-phone {
    color: #FFFFFF;
}

.button {
    font-family: Raleway;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #FFE17F;
    color:#000000;
}

.additional-information-button-current {
    color: #FFE17F;
    background-color: #000000;
}

.breadcrumbs-link {
    color: #000000;
    line-height: 19px;
    text-decoration: none;
}
.breadcrumbs {
    list-style-type: none;
}

.catalog-title {
    font-size: 16px;
    line-height: 19px;
}

.catalog-filter-title {
    font-weight: bold;
    color: #000000;
}

.control {
    line-height: 19px;
    color: #000000;
}

.product-card-image {
    background-color:#FFFFFF;
    color:#444444;
}

.product-card-price {
    color: #444444;
    line-height: 21px;
    text-align: right; /* надо ли это и как оно будет работать, если да */
}

.product-card-link {
    text-decoration: none;
}

.product-card-title {
    font-weight: bold;
    line-height: 20px;
    color: #000000;
}

.select-control {
    color: #000000;
}

.button-pagination-show-more {
    font-size: 16px;
    line-height: 19px; 
    text-align: center;
    background-color:#FFFFFF;
}
.pagination-container {
    background-color: #EBEBEB;
}

.pagination-link {
    text-transform: uppercase;
    line-height: 21px;
    text-decoration: none;
    color: #000000;
}

.main-inner {
    display: flex;
    flex-direction: column;
    background-color: #F0F0F0;
}
.inner-header {
    background-color: #FFFFFF;
}
.inner-header-container {
    width: 1160px;
    margin: 0 auto;
}

.breadcrumbs {
    display: flex;
}

.main-inner-container {
    display: flex;
    width: 1160px;
    margin: 0 auto;
}
.catalog-filter-container {
    width: 320px;
    margin: 0;
}
.catalog-filter-container-second {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 840px;
}

.catalog-container {
    display: flex;
    flex-direction: column;
}

.catalog-content-container {
   
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.pagination {
    display: flex;
    list-style-type: none;
}

.filter-container {
    display: flex;
}

