@font-face {
    font-family: "raleway";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "raleway";
    font-style: italic;
    font-weight: 800;
    src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "rubik";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "rubik";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "rubik";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "rubik";
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "rubik";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "rubik";
    font-style: italic;
    font-weight: 800;
    src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    color: #444444;
    background-color: #FFFFFF;
    min-width: 1440px;
    min-height: 100%;
}

.main-container {
    flex-grow: 1;
}

.main-inner {
    flex-grow: 1;
}

.page-header {
    color: #000000;
    background-color: white;
    position: relative;
}

.header-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 1160px;
    
    padding: 50px 60px;
    padding-top: 40px;
    padding-bottom: 22px;
    margin: auto;
    margin-top: 40px;
    background-color: #FFE17F;
    box-sizing: border-box;
}

.navigation-link {
    padding: 2px;
}

.navigation-user {
    margin: auto 0;
}

.navigation-link-current { 
    padding-bottom: 8px;
}
.navigation-logo {
    position: absolute; 
    top: -22px;
    margin: 0;
}

.navigation-logo:focus {
    opacity: 1;
    outline: 2px solid #AF4FFF;
}

.navigation-logo:hover {
    opacity: 0.6;
    outline: none;
}

.navigation-logo:active {
    opacity: 0.3;
    outline: none;
}
.navigation-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    padding: 0;
    width: 1045px;
    margin: 0;
    list-style-type: none;
}

.catalog {
    margin-right: 276px;
    margin-left: 0;
}

.catalog .navigation-link {
    display: flex;
    position: relative;
    padding: 0;
    padding-right: 65px;
    height: 50px;
}

.catalog-link-text {
    display: inline-block;
    margin: auto 0;
}
.catalog-icon-current {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 6;
}

.catalog-icon {
    display: none;
}
.subtitle {
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    text-decoration: none;
}

.catalog-item:last-child {
    grid-area: 3 / 1 / 4 / 2;
}
.non-user-container .navigation-item:not(.catalog):not(:last-child) {
    margin-right: 38px;
}
.user-container .navigation-item:last-child {
    margin-right: 0;
}

.non-user-container .navigation-item:last-child {
    margin-left: 5px
}

.catalog-list {
    z-index: -1;
    display: grid;
    grid-template-columns: 222px 222px 222px;
    grid-template-rows: 40px 40px 40px;
    position: absolute;
    min-height: 180px;
    top: 35px;
    left: -60px;
    padding: 33px 60px 27px;
    width: 1160px;
    background-color: #FFE17F;
    box-sizing: border-box;
    list-style-type: none;
}

.catalog:focus-within .catalog-list {
    display: grid;
}

.catalog-list {
    display: none;
}
.user-container {
    margin-bottom: 30px;
    justify-content: start;
}

.user-container .navigation-user:not(:last-child){
    margin-right: 23px;
}
.enter {
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    width: 233px;
}

.non-user-container {
    margin: 0;
    position: relative;
    z-index: 9;
    justify-content: start;
}

.non-user-container .navigation-item {
    align-self: baseline;
}

.navigation-link {
    position: relative;
    display: block;
}
.navigation-link-current {
    position: relative;
}

.navigation-link-current::after {
    position: absolute;
    top: 27px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background-color: #000000;
}

.subtitle {
    padding: 2px;
}

.subtitle:focus {
    outline: 2px solid #AF4FFF;
}

.subtitle:hover {
    opacity: 0.6;
    outline: none;
}

.subtitle:active {
    opacity: 0.3;
}

.subtitle-current {
    position: relative;
    padding-bottom: 5.6px;
}

.subtitle-current::after {
    position: absolute;
    top: 24px;
    left: 0;
    content: '';
    width: 100%;
    height: 1px;
    background-color: #000000;
}

.navigation-field {
    width: 519px;
}

.field-input {
    display: flex;
}

.search-icon {
    position: absolute;
    left: 18px;
    top: 14px;
}

.search-item {
    position: relative;
}

.header-navigation-field {
    margin-right: 0;
    z-index: 5;
    width: 359px;
    position: relative;
    padding: 12px;
    box-sizing: border-box;
    padding-left: 48px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.header-navigation-field::placeholder {
    color: #000000;
}
.header-navigation-field:disabled {
    opacity: 0.3;
}
.search-item::after {
    z-index: ;
    position: absolute;
    top: 2px;
    left: 0px;
    content: '';
    width: 359px;
    height: 40px;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 50px 0px 0px 50px;
}

.header-navigation-field::-webkit-input-placeholder {
    color: #000000;
    opacity: 0.3;
}

.header-navigation-field:focus {
    outline: 2px solid #AF4FFF;
}

.search-button {
    z-index: 5;
    position: relative;         
    border: none;
    margin: 0;
    margin-left: -8.5px;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
    width: 164px;
    box-sizing: border-box;
    padding: 12px 56px;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.search-button:focus {
    outline: 2px solid #AF4FFF;
}

.search-button:hover::after {
    background-color: #000000;
}

.search-button:hover{
    outline: none;
    color: #FFFFFF;
}

.search-button:active .search-button-text{
    opacity: 0.3;
}

.search-button:disabled {
    opacity: 0.3;
}
.search-button::after {
    content: '';
    z-index: -1;
    top: 2px;
    left: 2px;
    width: 160px;
    position: absolute; 
    height: 40px;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 0px 50px 50px 0px;
}
.compare {
    padding-left: 22px;
    padding-right: 3px;
}

.page-header .user-container .compare-item { 
    margin-right: 16px;
}

.login {
    padding-left: 27px;
    padding-right: 2px;
}

.basket {
    padding-left: 43px;
    padding-right: 6px;
}

/* Для поповера сделать block */
.popover {
    z-index: 15;
    position: absolute; 
    right: -17px;
    width: 320px;
    top: 84px;
    background-color: #000000;
    color: #FFFFFF;
    display: none;
}

.popover::before {
    content: '';
    position: absolute;
    height: 6px;
    left: 153px;
    z-index: 25;
    top: -6px;
    width: 14px;
    background-image: url('../images/popover-icon.svg');
}

.cart-items-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.cart-item {
    display: flex;
    flex-wrap: wrap;
    width: 320px;
    height: 83px;
}

.cart-item-link {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    padding: 2px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 20px;
    background-color: #000000;
    text-decoration: none;
    color: #FFFFFF;
    display: flex;
    height: 47px;
    margin: auto 18px;
    margin-right: auto;
}

.cart-item-link:focus {
    outline: 2px solid #AF4FFF
}

.cart-item-link:hover {
    opacity: 0.6;
    outline: none;
}

.cart-item-link:active {
    opacity: 0.3;
}

.cart-item-image {
    margin: auto 0;
    margin-right: 23px;
}

.cart-item-title {
    margin: auto 0;
}
.cart-item-button {
    box-sizing: border-box;
    width: 14px;
    height: 14px;
    position: relative;
    padding: 0;
    border: none; 
    margin: auto;
    margin-top: 20px;
    margin-right: 20px;
    background-color: #000000;
}

.cart-item-button:focus {
    outline: 2px solid #AF4FFF;
}

.cart-item-button:hover .close-icon{
    opacity: 0.6;
}

.cart-item-button:active .close-icon {
    opacity: 0.3;
}

.popover-information {
    width: 320px;
    min-height: 44px;
    display: flex;
    background-color: #1A1A1A;
}

.popover-information-quantity {
    display: block;
    margin: auto 20px;
    margin-right: 10px;
    width: 120px;
    font-size: 16px;
    line-height: 20px;
}

.popover-information-cost {
    width: 150px;
    display: block;
    margin: auto 20px;
    margin-left: 0;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
}

.popover-button-container {
    display: flex;
    height: 90px;
    background-color: #000000;
}

.popover-button {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    width: 280px;
    height: 50px;
    padding: 0;
    border: none;
    margin: auto;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.popover-button:focus {
    outline: 2px solid #AF4FFF;
}

.popover-button:hover {
    background-color:  #FFE17F;;
    outline: none;
}

.popover-button:active .popover-button-text {
    opacity: 0.3;
}
.popover-button-text {
    margin: auto;
}
.close-icon {
    position: absolute;
    top: 2px;
    left: 2px;
}
.navigation-icon {
    position: absolute;
    right: auto;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.main-container {
    display: flex;
    flex-direction: column; 
    width: 100%;
}

.product-examples {
    display: none;
}

.product-examples-current{
    display: flex;
    width: 1160px;
    margin: 0 auto;
    flex-direction: column;
    margin-bottom: 70px;
}

.product-examples-numeration-container {
    background-color: #FFE17F;
    height: 121px;
    margin-top: -9px;
    display: flex;
}

.product-examples-numeration{
    z-index: 1;
    margin: auto;
    margin-right: 49px;
    line-height: 135px;
    font-weight: bold;
    font-size: 180px;
    color: #FFFFFF;
}
.product-examples-container{
    z-index: 2;
    display: flex;
}
.product-description {
    font-size: 36px;
    color: #000000;
}

.product-definition {
    font-size: 16px;
}

.product-examples-image {
    position: relative;
    width: 560px;
    height: 560px;
    margin: 0;
    margin-right: 40px;
    margin-top: -150px;
}

.slider-image {
    
    display: block;
}

.slider-button-container {
    display: flex;
    justify-content: space-between;
    width: 530px;
    margin-left: 30px;
    position: absolute;
    top: 210px;
}

.slider-button {
    display: block;
    background-color: #FFFFFF;
    padding: 0;
    border: none;
}

.slider-button:hover {
    opacity: 0.6;
}

.slider-button:focus {
    opacity: 1;
    outline: 2px solid #AF4FFF;
}


.slider-button:active {
    opacity: 0.3;
    outline: none;
}
.product-examples-content {
    display: flex;
    flex-direction: column;
    width: 560px;
    margin: 0;
    margin-top: -29px;
}
.slider-title {
    margin: 0;
    margin-bottom: 29px;
}
.slider-information {
    margin: 0;
    margin-bottom: 51px;
}

.product-examples-pagination {
    display: flex;
    justify-content: space-between;
    height: 40px;
    margin-bottom: 49px;
    width: 560px;
}
.product-details {
    margin: 0;
    align-self: flex-start;
    border-collapse: collapse;
}


.product-description th{
    padding: 0;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 30px;
    text-align: left;
    padding-bottom: 6px;
}

.product-definition td {
    padding-top: 6px;
}

.product-description th:not(:first-child) {
    padding-left: 20px;
}

.product-definition td:not(:first-child) {
    padding-left: 20px;
}

.slider-details {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 220px;
    background-color: #FFFFFF;
}

.main-button:not(.additional-information-button-current)::before{
    position: absolute;
    top: 16px;
    content: '';
    width: 100%;
    height: 8px;
    background-color: #FFE17F;
}

.main-button:not(.additional-information-button-current):active::before {
    background-color: #FFCC33;
}

.main-button:not(.additional-information-button-current):focus {
    outline: 2px solid #AF4FFF;
}

.main-button:not(.additional-information-button-current):hover {
    background-color: #FFE17F;
    outline: none;
}

.main-button:not(.additional-information-button-current):active {
    background-color: #FFCC33;
    outline: none;
}
.slider-details-text {
    z-index: 1;
    display: block;  
    margin: auto;
    margin-top: 12px;
}

.slider-item:not(:last-child) {
    margin-right: 16px;
}

.slider-pagination {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin: auto 0;
    margin-left: auto;
    list-style-type: none;
}
.slider-pagination-button {
    position: relative; 
    display: block;
    box-sizing: border-box;
    padding: 0;
    height: 16px;
    width: 16px;
    margin: auto;
    border: none;
    background-color: #FFFFFF;
}

.slider-pagination-button::after {
    position: absolute;
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    background-color: #FFFFFF;
    border: 2px solid #000000;
}

.slider-pagination-button-current::after {
    background-color: #000000;
}

.slider-pagination-button:focus {
    outline: 2px solid #AF4FFF
}

.slider-pagination-button:hover {
    opacity: 0.6;
    outline: none;
}

.slider-pagination-button:active {
    opacity: 0.3;
}

.suggestions {
    margin: 0 auto;
    margin-bottom: 102px;
    width: 1160px;
    min-height: 253px;
}
.suggestions-list {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}
.suggestions-image {
    background-color: #FFE17F;
}

.suggestions-item {
    margin-right: 40px;
    display: flex;
    min-height: 253px;
    width: 160px;
    margin-bottom: 70px;
}

.suggestions-item:nth-child(6n) {
    margin-right: 0px;
}

.suggestion-icon-container {
    background-color: #FFE17F;
    width: 160px;
    height: 160px;
    display: flex;
    margin-bottom: 33px;
}

.suggestions-item:hover .suggestion-icon-container{
    background-color: #FFC700;
}


.suggestions-link:focus {
    outline: 2px solid #AF4FFF;
}

.suggestions-link:hover {
    outline: none;
}

.suggestions-link:active {
    outline: none;
    opacity: 0.3;
}

.suggestions-link {
    display: block;
}
.suggestion-icon {
    margin: auto;
}

.selfie{
    margin-bottom: 0;
}
.suggestion-name {
    display: block;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    text-decoration: none;
    letter-spacing: -0.02em;
    margin: 0;
}

.suggestions-link{
    text-decoration: none;
}
.suggestions-image {
    transform: scale(0.7);
}
.additional-information {
    background-color: #F0F0F0;
    min-height: 289px;
    margin-bottom: 70px
}

.additional-information-container {
    display: flex;
    flex-wrap: wrap;
    width: 1160px;
    min-height: 319px;
    margin: auto;
    margin-top: -102px;
}

.additional-information-list {
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 287px;
    margin: 0;
    margin-top: 64px;
    margin-right: 116px;
    list-style-type: none;
    box-sizing: border-box;
}

.additional-information-list::after {
    content: '';
    width: 7px;
    height: 319px;
    background: #000000;
    position: absolute; 
    left: 280px;
    bottom: 0;
}

.additional-information-item {
    margin-bottom: 35px;
}

.additional-information-titles-container {
    display: flex;
    flex-direction: column;
}

.additional-information-image-man {
    margin: auto;
    margin-right: 63px;
    margin-left: 83px;
    margin-top: 77.5px;
}

.additional-information-image-guarantees {
    margin: auto;
    margin-right: 28px;
    margin-left: 83px;
    margin-top: 77.5px;
}

.additional-information-image-credit {
    margin: auto;
    margin-right: 28px;
    margin-left: 98px;
    margin-top: 77.5px;
}

.additional-information-text {
    display: flex;
    flex-direction: column; 
    width: 475px;
    min-height: 174px;
    margin: auto;
    margin-top: 72.5px;
    margin-left: 0;
}

.additional-information-content-container {
    display: none;
}

.additional-information-content-container-current {
    display: flex;
    justify-content: end;
}

.additional-information-title {
    margin-bottom: 16px;
    margin-top: 0;
}

.additional-information-footer {
    width: 1160px;
    margin: 0 auto;
    min-height: 100px;
    margin-bottom: 70px;
}

.additional-information-footer-container {
    display: flex;
    width: 1160px;
    min-height: 100px;
    margin: 0 auto;
    padding: 0;
}

.additional-information-footer-link {
    display: block;
    text-decoration: none;
}

.additional-information-footer:hover {
    outline: none;
}

.additional-information-footer:hover .additional-information-footer-icon-container {
    outline: none;
    background-color: #FFC700;
}

.additional-icon {
    display: block;
    position: absolute;
    height: 40px;
    right: 42.5px;
    top: 30px;
    opacity: 0.3;
}

.additional-information-footer:hover  .additional-information-footer-link{
    opacity: 1;
    outline: none;
}

.additional-information-footer:hover  .additional-icon{
    opacity: 1;
}

.additional-information-footer:active {
    opacity: 0.3;
}

.additional-information-footer-link:focus {
    outline: 2px solid #AF4FFF;
}

.additional-information-footer-icon-container {
    width: 125px;
    height: 100px;
    background-color:#FFE17F;
    display: flex;
}


.additional-information-footer-icon {
    margin: auto;
}


.additional-information-footer-text-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 1035px;
    min-height: 100px;
    background-color: #F0F0F0;
    padding-right: 125px;
    box-sizing: border-box;
}

.contacts-button {
    display: inline-block;
    position: relative;
    display: flex;
    width: 259px;
    height: 40px;
    background-color: #FFFFFF;
}
.contacts-button-text {
    z-index: 1;
    margin: auto;
}

.about-us-container {
    display: flex;
    width: 1160px;
    min-height: 545px;
    margin: 0 auto;
    margin-bottom: 70px;
}

.about-us {
    position: relative;
    width: 520px;
    margin-right: 108px;
}

.about-us::after {
    position: absolute;
    content: '';
    top: 0px;
    left: 0px;
    width: 84px;
    height: 7px;
    background-color: #000000;
}

.about-us-button {
    display: inline-block;
    position: relative;
    display: flex;
    width: 270px;
    height: 40px;
    background-color: #FFFFFF;
}
.about-us-button-text {
    margin: auto;
    z-index: 1;
}

.contacts {
    position: relative;
}
.contacts::after {
    position: absolute;
    content: '';
    top: 0px;
    left: 0px;
    width: 84px;
    height: 7px;
    background-color: #000000;
}
.contacts-title {
    margin: 0;
    margin-bottom: 48px;
    margin-top: 47px;
}

.contacts-information {
    margin: 0;
    margin-bottom: 30px;
}

.contacts-adress-text {
    margin: 0;
    color: #444444;
    font-size: 16px;
    line-height: 20px;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

.adress-footer-text {
    color: #FFFFFF;
    margin: 0;
    font-size: 16px;
    line-height: 20px;
}

.contacts-adress {
    margin: 0;
    margin-bottom: 30px;
}

.contacts-schedule {
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-bottom: 30px;
}
.newsletter-container {
    margin: 0 auto;
    min-height: 421px;
    padding: 0;
    background-color: #F0F0F0;
}
.newsletter  {
    display: grid;
    grid-template-columns: 600px 290px 270px;
    row-gap: 144px;
    align-items: end;
}
.newsletter-information {
    grid-column-start: 2;
    grid-column-end: 4;
    margin: 0;
    margin-top: 74px;
    margin-left: 5px;
    margin-bottom: auto;
}
.newsletter-form {
    grid-area: 2 / 1 / 3 / 3;
    margin-bottom: 56px;
}

.newsletter-form-field {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    opacity: 0.5;
}

.newsletter-text {
    display: block;
    padding: 0;
    padding-left: 32px;
    grid-area: 2 / 3 / 3 / 4;
    justify-self: end;
    margin: 0;
    margin-bottom: 70px;
    margin-right: ;
    position: relative;
}

.newsletter-text-icon {
    position: absolute;
    top: 7px;
    left: 0;
}

.field {
    width: 557px;
    height: 55px;
    box-sizing: border-box;
    background-color: #F0F0F0;
    padding: 0;
    padding: 14px 16px;
    margin: 0;
    border: none;
}

.field:focus {
    outline: none;
}

.newsletter-button:focus {
    outline: none;
}

.newsletter-form {
    position: relative;
}

.newsletter-form::after {
    content: '';
    width: 557px;
    height: 3px;
    background-color: #C4C4C4;
    bottom: 0;
    left: 0;
    position: absolute;
}

.newsletter {
    width: 1160px;
    margin: 0 auto;
}

.newsletter-button {
    position: relative; 
    left: -5px;
    box-sizing: border-box;
    text-align: center;
    width: 253px;
    height: 57px;
    letter-spacing: 0.2em;
    border: 3px solid #CECECE;
    font-size: 18px;
    text-transform: uppercase;
}

.newsletter-title {
    margin: 0;
    margin-left: 5px;
    margin-top: 64px;
    margin-bottom: auto;
}

.page-footer {
    background-color: #444444;
    margin: 0;
    padding: 0;
}

.page-footer-container {
    padding: 0;
    width: 1160px;
    display: grid;
    grid-template-columns: 351px 444px 365px;
    background-color: #444444;
    margin: 0 auto;
    min-height: 321px;
}

.footer-adress {
    position: relative;
    grid-column: 1 / 2;
}

.footer-adress::after {
    position: absolute;
    content: '';
    top: 237px;
    width: 80px;
    height: 7px;
    background-color: #FFC700;
}

.about-us-social-container {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
}

.about-us-footer-list {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 134px;
    margin-bottom: 0;
}

.contacts-footer {
    grid-column: 3 / 4;
    margin-left: 190px;
}

.social-footer-list {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    list-style-type: none;
    width: 440px;
}

.social-footer-item {
    margin-right: 11px;
    margin-bottom: 60px;
}

.social-button {
    display: block;
    height: 40px;
    padding: 2px;
}
.social-button:focus {
    outline: 2px solid #AF4FFF;
}

.social-button:hover .circle {
    fill: #FFC700;
    fill-opacity: 1;
}

.social-button:hover {
    outline: none;
}

.social-button:active .circle-icon {
    opacity: 0.3;
    outline: none;
}

.footer-contacts-logo {
    margin: 0;
}

.footer-contacts-logo-link {
    display: block;
    width: 145px;
    margin: 0;
    margin-top: 62px;
    margin-bottom: 25px;
}

.footer-contacts-logo-link:focus {
    opacity: 1;
    outline: 2px solid #AF4FFF;
}
 

.footer-contacts-logo-link:hover {
    opacity: 0.6;
    outline: none;
}
.footer-contacts-logo-link:active {
    opacity: 0.3;
    outline: none;
}

.htmlacademy-link {
    display: block;
    margin: 0;
    margin-left: auto;
    text-align: end;
    width: 115px;
    height: 33px;
}
.title {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
}

.navigation-link {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
}

.catalog-link:hover .catalog-icon-current {
    opacity: 1;
}

.navigation-link:focus {
    outline: 2px solid #AF4FFF;
    opacity: 1;
}


.navigation-link:hover {
    opacity: 0.6;
    cursor: pointer;
    outline: none;
}

.catalog-icon-current {
    opacity: 0.3;
}

.catalog-link:hover {
    opacity: 1;
}

.navigation-link:active {
    outline: none;
    opacity: 0.3;
}

.catalog-link:active {
    opacity: 1;
}

.non-user-container .navigation-link {
    letter-spacing: 0.2em;
}

.navigation-user-link {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    line-height: 30px;
    text-transform: none;
}


.newsletter-button {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    line-height: 21px;
    color: #000000;
    text-transform: uppercase;
}
.additional-information-footer-text {
    margin: auto;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    letter-spacing: 0.2em;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
}

.about-us-company {
    display: block;
    position: relative;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    text-decoration: none;
    letter-spacing: -0.02em;
    padding-left: 37px;
}

.about-us-company::after {
    position: absolute;
    content: '';
    width: 8px;
    height: 8px;
    left: 0px;
    top: 6px;
    border-radius: 50%;
    background-color: #FFC700;
}

.about-us-title {
    margin: 0;
    margin-top: 47px;
    margin-bottom: 48px;
}
.about-us-information {
    margin: 0;
    margin-bottom: 30px;
}

.about-us-list {
    padding: 0;
    list-style-type: none;
    margin-bottom: 30px;
}
.about-us-item {
    margin-bottom: 19px;
    display: block;
}
.about-us-item:last-child {
    margin-bottom: 30px;
}

.contacts-subtitle {
    font-weight: bold;
    font-size: 24px;
    margin: 0;
    margin-bottom: 15px;
}

.about-us-footer-link {
    display: block;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    position: relative;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    letter-spacing: 0.2em;
    padding: 2px;
}

.about-us-footer-link:focus {
    outline: 2px solid #AF4FFF;
}

.about-us-footer-link:hover {
    color: #FFC700;
    outline: none;
}

.decoration {
    display: none;
    background-color: #FFC700;
    content: '';
    width: 100%;
    height: 2px;
    position: absolute; 
    top: 27px;
    left: 0;
}

.about-us-footer-link:hover  .decoration {
    display: block;
}

.about-us-footer-link:active {
    opacity: 0.3;
}
.about-us-item {
    display: block;
}

.about-us-footer-item {
    margin-right: 23px;
    margin-bottom: 57px;
}

.about-us-footer-item:nth-child(3n) {
    margin-right: 0;
}

.contacts-adress-phone {
    color: #444444;
}

.contacts-footer{
    display: flex;
    flex-direction: column;
}

.contacts-footer-phone {
    display: block;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 20px;
    margin-top: 140px;
    margin-bottom: 63px;
}

.contacts-footer-phone:focus {
    outline: 2px solid #AF4FFF;
    color: #FFFFFF;
}

.contacts-footer-phone:hover {
    color: #FFC700; 
    outline: none;
}

.contacts-footer-phone:active {
    opacity: 0.3;
}

.htmlacademy-logo {
    fill: #FFC700;
}

.htmlacademy-link:focus {
    outline: 2px solid #AF4FFF;
}

.htmlacademy-link:focus .htmlacademy-logo {
    fill: #FFC700;
}

.htmlacademy-link:active .htmlacademy-logo{
    opacity: 0.3;
}
.htmlacademy-link:hover {
    outline: none;
}

.htmlacademy-link:hover .htmlacademy-logo {
    fill: #FFFFFF;
}

.button {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    color:#000000;
}

.additional-information-button-text {
    z-index: 1;
    margin: auto;
    margin-top: 12px;
}

.additional-information-button {
    position: relative;
    width: 160px;
    height: 40px;
    display: flex;
    letter-spacing: 0.2em;
}


.additional-information-button-current {
    padding-right: 120px;
    color: #FFE17F;
    background-color: #000000;
    z-index: 2;
}

.additional-information-button-current:hover .additional-information-button-text  {
    opacity: 0.5;
    outline: none;
}

.additional-information-button-current:active .additional-information-button-text  {
    opacity: 0.3;
}

.additional-information-button-current:focus {
    opacity: 1;
    outline: 2px solid #7B61FF;
}

.additional-information-button-current:hover {
    outline: none;
}
.breadcrumbs-link {
    color: #000000;
    line-height: 19px;
    text-decoration: none;
}
.breadcrumbs {
    list-style-type: none;
    padding: 0;
}

.breadcrumbs-link:focus {
    outline: 2px solid #AF4FFF;
}

.breadcrumbs-link:hover {
    opacity: 0.6;
    outline: none;
}

.breadcrumbs-link:active {
    opacity: 0.3;
}

.catalog-title {
    font-size: 16px;
    line-height: 19px;
}

.catalog-filter-title {
    font-weight: bold;
    color: #000000;
}

.control {
    line-height: 19px;
    color: #000000;
}

.product-card-image {
    background-color:#FFFFFF;
    color:#444444;
    margin-bottom: 24px;
}

.product-card-price {
    color: #444444;
    line-height: 21px;
    text-align: right;
}

.product-card-link {
    text-decoration: none;
    position: relative;
    display: block;
}

.product-card-link:focus {
    outline: 2px solid #AF4FFF;
}

.product-card-link:hover .product-card-image {
    opacity: 0.6;
    outline: none;
}

.product-card-link:hover  {
    opacity: 0.6;
    outline: none;
}

.product-card-link:active .product-card-information-container {
    opacity: 0.3;
}

.product-card-link:hover .product-card-link-new::before {
    opacity: 0.6;
}

.exit {
    margin-left: auto;
    opacity: 0.3;
}

.product-button {
    display: none;
    position: absolute;
    padding: 10px 5px;
    box-sizing: border-box;
    top: 170px;
    color: #000000;
    left: 70px;
    z-index: 5;
    width: 220px;
    height: 40px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
}

.product-button::after {
    content: '';
    z-index: -1;
    width: 220px;
    height: 8px;
    left: 0;
    top: 16px;
    position: absolute;
    background-color: #FFE17F;
}
.product-card-link:hover .product-button {
    display: block;
}

.product-card-link:active .product-button::after {
    background-color: #FFC700;
}

.product-card-title {
    font-size: 18px;
    letter-spacing: -0.02em;
    width: 203px;
    margin: 0;
    margin-right: auto;
    font-weight: bold;
    line-height: 20px;
    color: #000000;
    font-family: 'Rubik';
    font-size: 18px;
}

.select-control {
    margin: auto 0;
    color: #000000;
    margin-right: 197px;
    width: 155px;
    height: 34px;
    padding: 2px;
    padding-right: 43px;
    appearance: none;
    position: relative;
    font-size: 18px;
    line-height: 30px;
    box-sizing: border-box;
    border: none;
    background-color: #F0F0F0;
    background-image: url('../images/filter-icon.svg');
    background-repeat: no-repeat;
    background-position: right 2px top 2px;
}

.select-control:focus {
    outline: 2px solid #AF4FFF;
}

.select-control:hover {
    opacity: 0.6;
    outline: none;
}

.select-control:active {
    opacity: 0.3;

}


.button-pagination-show-more {
    width: 760px;
    height: 55px;
    font-size: 16px;
    line-height: 19px; 
    text-align: center;
    letter-spacing: 0.2em;
    background-color:#FFFFFF;
    border: 3px solid #E5E5E5;
}

.button-pagination-show-more:focus {
    outline: 2px solid #AF4FFF;
}

.button-pagination-show-more:hover {
    background-color: #000000;
    color: #FFFFFF;
    border: 3px solid #000000;
    outline: none;
}

.button-pagination-show-more:active .button-pagination-text {
    opacity: 0.3;
}

.button-pagination-show-more:disabled {
    opacity: 0.3;
}
.pagination-container {
    background-color: #EBEBEB;
    margin: 0;
    margin-bottom: 38px;
    width: 760px;
    height: 71px;
}

.pagination-link-button {
    text-transform: uppercase;
    line-height: 21px;
    text-decoration: none;
    color: #000000;
}

.pagination-link {
    padding: 10px 0;
    text-align: center;
    box-sizing: border-box;
    margin: auto;
    width: 40px;
    opacity: 0.3;
    height: 40px;
    font-family: Rubik;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    color: #444444;
}

.pagination-link:focus {
    opacity: 1;
    outline: 2px solid #AF4FFF;
}

.pagination-link:hover {
    opacity: 0.8;
    outline: none;
}

.pagination-link:active {
    opacity: 0.1;
}
.main-inner {
    display: flex;
    flex-direction: column;
    background-color: #F0F0F0;
}
.inner-header {
    background-color: #FFFFFF;
}
.inner-header-container {
    width: 1160px;
    margin: 0 auto;
    padding: 0 60px;
    box-sizing: border-box;
}

.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-bottom: 30px;
}

.breadcrumbs-item:not(:last-of-type) {
    margin: 0;
    margin-right: 38px;
    position: relative;
    display: block;
}

.breadcrumbs-item:not(:last-of-type)::before {
    content: '';
    position: absolute;
    right: -20px;
    top: 11.5px;
    width: 4px;
    height: 7px;
    background: url('../images/arrow.svg');
    background-repeat: no-repeat;
}

.breadcrumbs-link {
    display: inline-block;
    margin: 0;
    font-size: 16px;
    line-height: 19px;
}
.main-inner-container {
    display: flex;
    flex-wrap: wrap;
    width: 1160px;
    margin: 0 auto;
}

.inner-title {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    margin: 0;
    margin-top: 35px;
    margin-bottom: 9px;
}
.catalog-filter-container {
    width: 320px;
    margin: 0;
    padding: 0 60px;
    box-sizing: border-box;
}
.catalog-filter-container-second {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 840px;
}

.catalog-container {
    padding: 40px;
    padding-top: 70px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
}

.catalog-content-container {
   margin: 0;
   margin-bottom: 44px;
}

.product-list {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 360px 360px;
    grid-template-rows: 452px 452px;
    column-gap: 40px;
    row-gap: 44px;; 
    flex-wrap: wrap;
    list-style-type: none;
}

.product-card {
    display: flex;
    flex-direction: column;
}

.product-card-information-container {
    display: flex;
    min-height: 40px;
}
.catalog-button-container {
    margin: 0 auto;
    width: 760px;
    margin-bottom: 44px;
}
.pagination {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: start;
}

.pagination-prev {
    display: inline-block;
    padding: 25px;
    margin: 0;
    letter-spacing: 0.2em;
    background-color: #EBEBEB;
}

.pagination-prev:focus {
    outline: 2px solid #AF4FFF;
}

.pagination-prev:active {
    opacity: 0.3;
}

.pagination-prev:hover {
    background-color: #DCDCDC;
    outline: none;
}

.pagination-item-button:not(:last-of-type) {
    margin-right: auto;
}

.pagination-item-button:not(:first-of-type) {
    margin-left: auto;
}

.pagination-item {
    margin: auto 0;
    margin-right: 0;
    display: flex;
}

.filter-container {
    display: flex;
    width: 840px;
    min-height: 70px;
    flex-wrap: wrap;
    padding: 20px 0;
    box-sizing: border-box;
    justify-content: flex-start;
}

.catalog-title {
    padding: 5.5px 0; 
    margin: 0;
    margin-left: 40px;
    margin-right: 197px;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    display: block;
}

.filter {
    margin: 0;
    padding: 25px 0;
    box-sizing: border-box;
    display: block;
    min-height: 69px;
    margin-bottom: 43px;
    text-align: start;
}

.select-control-list {
    margin: auto 0;
    margin-right: 40px;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

.select-control-item {
    position: relative;
}

.select-control-button-icon {
    position: absolute;
    top: 10px;
    left: 9.5px;
    opacity: 0.2;
}
.select-control-button {
    display: block;
    margin: auto 0;
    width: 30px;
    height: 30px;
    border: none;
    padding: 0;
    background-color: transparent;
}

.select-control-button:focus {
    outline: 2px solid #AF4FFF;
}

.select-control-button:hover .select-control-button-icon{
    opacity: 0.5;
}

.select-control-button:active .select-control-button-icon{
    opacity: 1;
}

.select-control-button:hover {
    outline: none;
}
.filter-button {
    padding: 0;
    border: none;
    display: inline-block;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 220px;
    height: 40px;
    background-color: transparent;
}

.filter-button-text {
    margin: auto;
    z-index: 1;
}
.range-scale {
    position: relative;
    height: 2px;
    margin-bottom: 11px;
    background-color: #DCDCDC;
    border-radius: 2px;
}
  
 .range-bar {
    position: absolute;
    height: 2px;
    background-color: #000000;
}
  
.range-toggle {
    position: absolute;
    width: 18px;
    height: 18px;
    background: #EBEBEB;
    border: 2px solid #242424;
    border-radius: 50%;
    cursor: pointer;
}
  
.range-toggle:hover {
    opacity: 0.5;
}   
  
.range-toggle:active {
    background: #000000;
}
.range-toggle:focus {
    background-color: #EBEBEB;
    outline: 2px solid #AF4FFF;
}

.cost-title {
    margin-bottom: 23px;
}
.catalog-filter-label:first-child {
    margin: 0;
    margin-right: 38px;
    position: relative;
    left: -14px;
    top: 6px;
}
  
.catalog-filter-group {
    margin: 0;
    width: 200px;
    margin-bottom: 47px;
    padding: 0;
    border: none;
}

.catalog-filter-group:nth-child(2) {
    margin-bottom: 24px;
}

.catalog-filter-group:nth-child(3)  {
    margin-bottom: 19px;
}

.catalog-filter-title {
    position: relative;
}

.catalog-filter-title::before {
    content: '';
    height: 2px;
    width: 200px;
    top: -9px;
    left: 0;
    position: absolute;
    background-color:  #000000;
}

.toggle-min {
    top: -8px;
    left: -10px;
}
  
.toggle-max {
    top: -8px;
    right: -10px;
}
  
.range-wrapper-inputs {
    display: flex;
    justify-content: start;
}

.catalog-filter-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 15px;
}
  
 .catalog-filter-label {
    display: flex;
    flex-wrap: wrap;
    margin-right: 5px;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    opacity: 0.3;
}
  
.range-input {
    width: 30px;
    padding: 0 2px;
    font: inherit;
    text-align: center;
    background-color: transparent;
    border: none;
    appearance: textfield;
}


.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}


.control {
    position: relative;
    display: block;
    padding-left: 36px;
    margin-bottom: 18px;
}
  
.control-label {
    display: block;
    font-size: 16px;
    line-height: 19px;
}

.control-mark {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    display: block;
    height: 16px;
    outline: 2px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 3px;
}

.control-input:focus + .control-mark::after {
    border: none;
    position: absolute;
    top: -4px;
    left: -4px;
    content: '';
    width: 24px;
    height: 24px;
    box-sizing: border-box;
    outline: 2px solid #AF4FFF;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
    content: '';
    background-image: url('../images/tick.svg');
    position: absolute;
    width: 10px;
    height: 10px;
    top: 3px;
    left: 3px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
}

.control-input[type="checkbox"]:checked + .control-mark {
    outline: 2px solid #000000;
}

.control:hover {
    opacity: 0.6;
}

.control:hover .control-mark::after {
    outline: none;
}

.control:active {
    opacity: 0.3;
}

.control-input[type="checkbox"]:disabled + .control-mark,
.control-input[type="checkbox"]:disabled + .control-mark + .control-label {
    opacity: 0.1;
}

.control-input[type="radio"] + .control-mark {
    border-radius: 50%;
    box-sizing: border-box;
}

.control-input[type="radio"]:checked + .control-mark::before {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 8px;
    height: 8px;
    background-color: #000000;
    border-radius: 50%;
    content: "";
}

.control-input[type="radio"]:checked + .control-mark {
    outline: 2px solid #000000;
}
                                                            /*Убрать display: none для модального окна и добавить flex*/
 .modal-container {  
    display: none;
    z-index: 50;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(240, 240, 240, 0.9);
}
  
.modal {
    position: relative;
    margin: auto;
    padding: 62px 70px;
    background-color: #ffffff;
    border: 10px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.1);
    width: 920px;
    min-height: 568px;
}

.modal-title {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
    margin: 0;
    margin-bottom: 42px;
}

.modal-close-button {
    position: absolute;
    top: 71px;
    right: 70px;
    padding: 2px;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    margin: 0;
    background-color: #FFFFFF;
    border: none;
}

.data-title {
    font-family: 'Rubik',  sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #000000;
    margin: 0;
    margin-bottom: 14px;
}

.data-form {
    display: flex;
    flex-wrap: wrap;
}

.name-field {
    background-image: url('../images/modal-icon-name.svg');
    background-repeat: no-repeat;
    background-position: right 24px center;
}

.quantity {
    display: flex;  
    flex-wrap: wrap;
    height: 60px;
}

.number-input {
    width: 60px;
    height: 60px;
    padding: 0;
    margin: 0;
    text-align: center;
    padding: 22px;
    box-sizing: border-box;
    background-color: #F0F0F0;
    border: none;
    appearance: textfield;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.number-input:nth-child(2) {
    padding: 0;
}

.number-input::-webkit-outer-spin-button,
.number-input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

.number-input:focus {
    outline: 2px solid #AF4FFF;
    z-index: 1;
}

.number-input:hover {
    outline: none;
}

.number-input:hover .number-icon    {
    opacity: 0.6;
}

.number-input:active .number-icon {
    opacity: 0.3;
}

.send-button {
    z-index: 3;
    display: block;
    width: 200px;
    height: 40px;
    border: none;
    padding: 10px;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    background-color: #ffffff;
    position: relative;
}

.send-button:focus {
    outline: 2px solid #AF4FFF
}

.send-button:hover {
    background-color: #FFE17F;
    outline: none;
}

.send-button:active {
    background-color: #FFCC33;;
}

.send-button:active::after {
    background-color: #FFCC33;  
}

.send-button::after {
    background-color: #FFE17F;
    content: '';
    z-index: -1;
    width: 200px;
    height: 8px;
    position: absolute;
    top: 16px;
    left: 0;
}
.mail-field {
    background-image: url('../images/modal-icon-mail.svg');
    background-repeat: no-repeat;
    background-position: right 24px center;
    color: #000000;
}
.field-group-label {
    display: flex;
    flex-direction: column;
}

.field-group {
    margin: 0;
    margin-right: 40px;
    margin-bottom: 42px
}

.field-group-label:last-child {
    position: relative;
}

.data-form .field-group:nth-child(2n) {
    margin-right: 0px;
}

.quantity-icon {
    position: absolute;
    left: 120px;
    top: -3px;
}
.data-form-field {
    width: 360px;
    font-family: 'Rubik',  sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    height: 60px;
}

.name {
    display: none;
}

.name-field:invalid + .name {
    display: block;
}

.comment-field {
    width: 540px;
}

.modal-close-button:focus {
    outline: 2px solid #AF4FFF;
}

.modal-close-button:hover {
    opacity: 0.6;
    outline: none;
}

.modal-close-button:active {
    opacity: 0.3;
}

.field-text {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

.quantity-container {
    position: relative;
}

.modal-tooltip {
    display: none;
    position: absolute;
    width: 200px;
    min-height: 166px;
    background-color: #000000;
    color: #ffffff;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    top: 33px;
    left: -20px;
    padding: 19px;
    padding-bottom: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.modal-tooltip::before {
    content: '';
    position: absolute;
    height: 6px;
    left: 147px;
    z-index: 25;
    top: -6px;
    width: 14px;
    background-image: url('../images/popover-icon.svg');
}

.quantity-link:focus + .modal-tooltip {
    display: none;
    z-index: 100;
}

.quantity-link:focus + .modal-tooltip {
    display: block;
    z-index: 100;
}
 
.data-form-field:focus {
    background-color: #DCDCDC;
    outline: 2px solid #AF4FFF;;;
}

.mail-field:invalid {
    outline: 3px solid #FF3D3D;
}

.mail-field:invalid + .field-text {
    color: #FF3D3D;
}

.data-form-field:disabled {
    opacity: 0.5;
    background-color: #FFFFFF;
}

.data-form-field:hover {
    background-color: #DCDCDC;
}

.number-input:invalid {
    outline: 2px solid #FF3D3D;
    z-index: 1;
}

.data-form-field:disabled {
    opacity: 0.3;
}

.product-card-link-new::before {
    content: '';
    z-index: 5;
    background-image: url('../images/new.svg');
    width: 60px;
    height: 60px;
    position: absolute;
    top: 27px;
    right: 27px;
}
