@font-face {
    font-family: "raleway";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "raleway";
    font-style: italic;
    font-weight: 800;
    src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "rubik";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "rubik";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "rubik";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "rubik";
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "rubik";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "rubik";
    font-style: italic;
    font-weight: 800;
    src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    color: #444444;
    background-color: #FFFFFF;
}

.main-container {
    flex-grow: 1;
}

.main-inner {
    flex-grow: 1;
}

.page-header {
    color: #000000;
    background-color: white;

}

.header-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 1160px;
    
    padding: 50px 60px;
    padding-bottom: 38px;
    margin: auto;
    margin-top: 40px;
    background-color: #FFE17F;
    box-sizing: border-box;
}

.navigation-logo {
    position: absolute; 
    top: -18px;
    margin: 0;
}
.navigation-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    padding: 0;
    width: 1040px;
    margin: 0;
    list-style-type: none;
}

.catalog {
    margin-right: auto;
}

.non-user-container .navigation-item:not(.catalog):not(:last-child) {
    margin-right: 47px;
}
.user-container .navigation-item:last-child {
    margin-right: 0;
}

.user-container {
    margin-bottom: 30px;
    justify-content: start;
}

.user-container .navigation-user:not(.enter):not(:last-child){
    margin-right: 26px;
}
.enter {
    margin-right: auto;
}

.non-user-container {
    margin: 0;
}


.navigation-link {
    position: relative;
    display: block;
}

.navigation-field {
    width: 519px;
}

.header-navigation-field {
    width: 359px;
}

.submit {
    width: 160px;
}

.compare {
    padding-left: 22px;
    padding-right: 3px;
}

.login {
    padding-left: 27px;
    padding-right: 2px;
}

.basket {
    padding-left: 43px;
    padding-right: 11px;
}

.navigation-icon {
    position: absolute;
    right: auto;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.main-container {
    display: flex;
    flex-direction: column; 
    width: 100%;
}

.product-examples {
    display: none;
}

.product-examples-current{
    display: flex;
    width: 1160px;
    margin: 0 auto;
    flex-direction: column;
    margin-bottom: 70px;
}

.w {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FFE17F;
}

.o {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -7.5px;
    margin-top: -7px;
}
.product-examples-numeration-container {
    background-color: #FFE17F;
    height: 121px;
    margin-top: -9px;
    display: flex;
}

.product-examples-numeration{
    z-index: 1;
    margin: auto;
    margin-right: 49px;
    line-height: 135px;
    font-weight: bold;
    font-size: 180px;
    color: #FFFFFF;
}
.product-examples-container{
    z-index: 2;
    display: flex;
}
.product-description {
    font-size: 36px;
    color: #000000;
}

.product-definition {
    font-size: 16px;
}

.product-examples-image {
    display: flex;
    width: 560px;
    height: 560px;
    margin: 0;
    margin-right: 40px;
    margin-top: -150px;
}
.product-examples-content {
    display: flex;
    flex-direction: column;
    width: 560px;
    margin: 0;
    margin-top: -29px;
}
.slider-title {
    margin: 0;
    margin-bottom: 29px;
}
.slider-information {
    margin: 0;
    margin-bottom: 51px;
}

.product-examples-pagination {
    display: flex;
    height: 40px;
    margin-bottom: 49px;
}
.product-details {
    margin: 0;
}

.slider-details{
    display: flex;
}
.slider-details-text {
    display: block;  
    margin: auto;
}
.slider-pagination {
    display: flex;
    margin-left: auto;
    list-style-type: none;
}
.slider-pagination-button {
    display: block;
    margin: auto;
    margin-right: 20px;
}

.suggestions {
    margin: 0 auto;
    margin-bottom: 172px;
    width: 1160px;
    height: 253px;
}
.suggestions-list {
    margin: 0;
    display: flex;
    list-style-type: none;
    padding: 0;
}
.suggestions-image {
    background-color: #FFE17F;
}

.suggestions-item {
    margin-right: 40px;
}

.suggestion-icon-container {
    background-color: #FFE17F;
    width: 160px;
    height: 160px;
    display: flex;
}

.suggestion-icon {
    margin: auto;
}

.selfie{
    margin-bottom: 0;
}
.suggestion-name {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    text-decoration: none;
    letter-spacing: -0.02em;
}

.suggestions-link{
    text-decoration: none;
}
.suggestions-image {
    transform: scale(0.7);
}
.additional-information {
    background-color: #F0F0F0;
    height: 289px;
    margin-bottom: 70px
}

.additional-information-container {
    display: flex;
    width: 1160px;
    height: 319px;
    margin: auto;
    margin-top: -102px;

}

.additional-information-list {
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 287px;
    margin: 0;
    margin-top: 64px;
    margin-right: 116px;
    list-style-type: none;
    box-sizing: border-box;
}

.additional-information-list::after {
    content: '';
    width: 7px;
    height: 319px;
    background: #000000;
    position: absolute; 
    left: 280px;
    bottom: 0;
}

.additional-information-item {
    margin-bottom: 45px;
}
.additional-information-titles-container {
    display: flex;
    flex-direction: column;
}

.additional-information-button {
    letter-spacing: 0.2em;
}
.additional-information-button-current {
    margin-top: 64px;
}

.additional-information-image-man {
    margin: auto;
    margin-right: 63px;
    margin-left: 83px;
}

.additional-information-image-guarantees {
    margin: auto;
    margin-right: 28px;
    margin-left: 83px;
}

.additional-information-image-credit {
    margin: auto;
    margin-right: 28px;
    margin-left: 98px;
}

.additional-information-text {
    display: flex;
    flex-direction: column; 
    width: 475px;
    height: 174px;
    margin: auto;
    margin-left: 0;
}

.additional-information-content-container-current {
    display: flex;
    justify-content: end;
}

.additional-information-content-container {
    display: none;
}
.additional-information-title {
    margin-bottom: 16px;
    margin-top: 0;
}

.additional-information-footer {
    display: flex;
    width: 1160px;
    height: 100px;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 70px;
}


.additional-information-footer-icon-container {
    width: 120px;
    height: 100px;
    background-color:#FFE17F;
    display: flex;
}

.additional-information-footer-icon {
    margin: auto;
}


.additional-information-footer-text-container {
    display: flex;
    width: 1035px;
    height: 100px;
    background-color: #F0F0F0;
    padding-right: 125px;
    box-sizing: border-box;
}

.about-us-container {
    display: flex;
    width: 1160px;
    height: 545px;
    margin: 0 auto;
    margin-bottom: 70px;
}

.about-us {
    position: relative;
    width: 520px;
    margin-right: 108px;
}

.about-us::after {
    position: absolute;
    content: '';
    top: 0px;
    left: 0px;
    width: 84px;
    height: 7px;
    background-color: #000000;
}
.contacts {
    position: relative;
}
.contacts::after {
    position: absolute;
    content: '';
    top: 0px;
    left: 0px;
    width: 84px;
    height: 7px;
    background-color: #000000;
}
.contacts-title {
    margin: 0;
    margin-bottom: 48px;
    margin-top: 47px;
}

.contacts-information {
    margin: 0;
    margin-bottom: 30px;
}

.contacts-adress-text {
    margin: 0;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 20px;
}

.contacts-adress {
    margin: 0;
    margin-bottom: 30px;
}

.contacts-schedule {
    margin: 0;
    margin-bottom: 30px;
}
.newsletter-container {
    margin: 0 auto;
    height: 421px;
    padding: 0;
    background-color: #F0F0F0;
}
.newsletter  {
    display: grid;
    grid-template-columns: 600px 290px 290px;
    grid-template-rows: 164px 113px;
    row-gap: 144px;
    align-items: end;
}
.newsletter-information {
    grid-column-start: 2;
    grid-column-end: 4;
}
.newsletter-form {
    grid-area: 2 / 1 / 3 / 3;
    margin-bottom: 56px;
}

.newsletter-text {
    grid-area: 2 / 3 / 3 / 4;
    justify-self: end;
    margin-bottom: 56px;
}

.field {
    width: 557px;
}
.newsletter {
    width: 1160px;
    margin: 0 auto;
}
.newsletter-button {
    width: 257px;
}

.newsletter-title {
    margin: 0;
}

.page-footer {
    background-color: #444444;
    margin: 0;
    padding: 0;
}

.page-footer-container {
    padding: 0;
    width: 1160px;
    display: grid;
    grid-template-columns: 351px 444px 365px;
    grid-template-rows: 321px;
    background-color: #444444;
    margin: 0 auto;
    height: 321px;
}

.footer-adress {
    position: relative;
    grid-column: 1 / 2;
}

.footer-adress::after {
    position: absolute;
    content: '';
    top: 237px;
    width: 80px;
    height: 7px;
    background-color: #FFC700;
}

.about-us-social-container {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
}


.about-us-footer-list {
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin-top: 137px;
    margin-bottom: 62px;
}

.contacts-footer {
    grid-column: 3 / 4;
    margin-left: 190px;
}

.social-footer-list {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    list-style-type: none;
    width: 440px;
}

.social-footer-item {
    margin-right: 15px;

}


.footer-contacts-logo {
    margin: 0;
    margin-top: 62px;
    margin-bottom: 35px;
}
 
.htmlacademy-link {
    display: block;
    margin: 0;
    text-align: end;
}
.title {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
}

.navigation-link {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
}

.navigation-link:hover {
    opacity: 0.6;
    cursor: pointer;
}

.navigation-link:focus {
    border: 2px solid #AF4FFF;
    opacity: 1;
}

.navigation-link:active {
    border: none;
    opacity: 0.3;
}

.non-user-container .navigation-link {
    letter-spacing: 0.2em;
}

.navigation-user-link {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    line-height: 30px;
    text-transform: none;
}



.newsletter-button {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    line-height: 21px;
    color: #000000;
    text-transform: uppercase;
}
.additional-information-footer-text {
    margin: auto;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    letter-spacing: 0.2em;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
}



.about-us-company {
    font-weight: bold;
    line-height: 20px;
    color: #000000;
    text-decoration: none;
}

.about-us-title {
    margin: 0;
    margin-top: 47px;
    margin-bottom: 48px;
}
.about-us-information {
    margin: 0;
    margin-bottom: 30px;
}

.about-us-list {
    padding-left: 37px;
    list-style-type: none;
}
.about-us-item {
    margin-bottom: 19px;
}
.about-us-item:last-child {
    margin-bottom: 30px;
}

.contacts-subtitle {
    font-weight: bold;
    font-size: 24px;
    margin: 0;
    margin-bottom: 15px;
}

.about-us-footer-link {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    letter-spacing: 0.2em;
}
.about-us-item {
    display: block;
}

.about-us-footer-item:not(:last-child) {
    margin-right: 35px;
}
.contacts-adress-phone {
    color: #444444;
}

.contacts-footer-phone {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 20px;
    margin-top: 140px;
    margin-bottom: 63px;
}

.button {
    font-family: Raleway;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #FFE17F;
    color:#000000;
}

.additional-information-button-current {
    color: #FFE17F;
    background-color: #000000;
}


.breadcrumbs-link {
    color: #000000;
    line-height: 19px;
    text-decoration: none;
}
.breadcrumbs {
    list-style-type: none;
}

.catalog-title {
    font-size: 16px;
    line-height: 19px;
}

.catalog-filter-title {
    font-weight: bold;
    color: #000000;
}

.control {
    line-height: 19px;
    color: #000000;
}

.product-card-image {
    background-color:#FFFFFF;
    color:#444444;
    margin-bottom: 32px;
}

.product-card-price {
    color: #444444;
    line-height: 21px;
    text-align: right; /* надо ли это и как оно будет работать, если да */
}

.product-card-link {
    text-decoration: none;
}

.product-card-title {
    font-size: 18px;
    letter-spacing: -0.02em;
    width: 200px;
    margin: 0;
    margin-right: auto;
    font-weight: bold;
    line-height: 20px;
    color: #000000;
}

.select-control {
    color: #000000;
}

.button-pagination-show-more {
    width: 760px;
    height: 55px;
    font-size: 16px;
    line-height: 19px; 
    text-align: center;
    letter-spacing: 0.2em;
    background-color:#FFFFFF;
}
.pagination-container {
    background-color: #EBEBEB;
    margin: 0;
    margin-bottom: 38px;
    width: 760px;
    height: 71px;
}

.pagination-link-button {
    text-transform: uppercase;
    line-height: 21px;
    text-decoration: none;
    color: #000000;
}

.pagination-link {
    padding: 10px 0;
    text-align: center;
    box-sizing: border-box;
    margin: auto;
    width: 40px;
    height: 40px;
    font-family: Rubik;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    color: #444444;
}
.main-inner {
    display: flex;
    flex-direction: column;
    background-color: #F0F0F0;
}
.inner-header {
    background-color: #FFFFFF;
}
.inner-header-container {
    width: 1160px;
    margin: 0 auto;
}

.breadcrumbs {
    display: flex;
}

.breadcrumbs-item:not(:last-of-type) {
    margin-right: 38px;
}
.main-inner-container {
    display: flex;
    width: 1160px;
    margin: 0 auto;
}
.catalog-filter-container {
    width: 320px;
    margin: 0;
}
.catalog-filter-container-second {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 840px;
}


.catalog-container {
    padding: 40px;
    padding-top: 70px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
}

.catalog-content-container {
   margin: 0;
   margin-bottom: 44px;
}

.product-list {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 360px 360px;
    grid-template-rows: 452px 452px;
    column-gap: 35px;
    row-gap: 44px;; 
    flex-wrap: wrap;
    list-style-type: none;
}

.product-card {
    display: flex;
    flex-direction: column;
}

.product-card-information-container {
    display: flex;
    height: 40px;
}
.catalog-button-container {
    margin: 0 auto;
    width: 760px;
    margin-bottom: 44px;
}
.pagination {
    padding: 0;
    margin: 0;
    display: flex;
    list-style-type: none;
    justify-content: start;
}

.pagination-prev {
    display: inline-block;
    padding: 25px;
    margin: 0;
    letter-spacing: 0.2em;
    background-color: #EBEBEB;
}

.pagination-item-button:not(:last-of-type) {
    margin-right: auto;
}

.pagination-item-button:not(:first-of-type) {
    margin-left: auto;
}

.pagination-item {
    margin: auto 0;
    margin-right: 0;
    display: flex;
}

.filter-container {
    display: flex;
    width: 840px;
    justify-content: space-between;
}

.catalog-title {
    margin-left: 40px;
}

.filter {
    margin-left: 60px;
}

.select-control-list {
    margin-right: 20px;
    display: flex;
    list-style-type: none;
}